.banner{ 
	background-image: linear-gradient(-233deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 50%) , url(../../images/background.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	padding: 150px 0px;
}
.banner h1 {
	font-size: 70px;
	color: black;
}
.banner p { 
	font-size: 30px;
	color: black;
	margin-bottom: 40px;
}